.CreateTodoButton{
        padding: 0.5rem;
        background-color: grey;
        box-shadow: 0px 5px 25px rgb(59, 130, 246);
        font-size: 50px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        height: 64px;
        width: 64px;
        justify-content: center;
        align-items: center;
        cursor: pointer; 
        transform: rotate(0);
        transition: .3 ease;  
        display: flex;
        font-weight: bold;
        color: #FAFAFA;
     
    }
.CreateTodoButton:hover{
    transform: rotate(224deg);
    }