* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right bottom, rgb(56, 189, 248), rgb(59, 130, 246));
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-family: 'Secular One', sans-serif;
}

.Titulo {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: grey;
  color: white;
  cursor: pointer;
}
button:hover{
  font-size: 2.1rem;

  cursor: pointer;
}


